flows (1).json
[
    {
        "id": "f52d87b936e2a548",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "ad64e9d08c5c140e",
        "type": "tab",
        "label": "Haus Gruppe1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3d81052520b72346",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b2aa285c948c1dd5",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#007cc1",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "SSU Gruppe 1",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD.MM.YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2dd52dcfd80271c0",
        "type": "ui_tab",
        "name": "Garten",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "61d47094ef776f19",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "",
        "port": "1883",
        "clientid": "",
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "b95fc6db79257e61",
        "type": "ui_group",
        "name": "Daten aktuell",
        "tab": "2dd52dcfd80271c0",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d7f4c4480fc4cb59",
        "type": "ui_group",
        "name": "Group 2",
        "tab": "",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "1943c639731977b0",
        "type": "ui_group",
        "name": "Daten auf Zeit",
        "tab": "2dd52dcfd80271c0",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "9f47515f36178770",
        "type": "ui_group",
        "name": "Steuerung",
        "tab": "2dd52dcfd80271c0",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "a22881f977bfa51d",
        "type": "ui_tab",
        "name": "Haus",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "94d7c8f6b367df1f",
        "type": "ui_group",
        "name": "Küche",
        "tab": "a22881f977bfa51d",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d1a07449dc0e3542",
        "type": "ui_group",
        "name": "Schlafzimmer",
        "tab": "a22881f977bfa51d",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "4a0bc126749d9053",
        "type": "ui_group",
        "name": "Flur",
        "tab": "a22881f977bfa51d",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "71bbeea70c77dc87",
        "type": "ui_group",
        "name": "Rollladen",
        "tab": "a22881f977bfa51d",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d71e0956189bee4c",
        "type": "ui_group",
        "name": "Gesamte Lichtanlage",
        "tab": "a22881f977bfa51d",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "44e6bb50c2e3582a",
        "type": "ui_group",
        "name": "Party",
        "tab": "a22881f977bfa51d",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "69fadc5f38f9845c",
        "type": "ui_group",
        "name": "Steuerung 2",
        "tab": "2dd52dcfd80271c0",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "bcc6ac8bfb941d2f",
        "type": "ui_gauge",
        "z": "f52d87b936e2a548",
        "name": "Feuchtigkeit",
        "group": "b95fc6db79257e61",
        "order": 11,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Feuchtigkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 1580,
        "wires": []
    },
    {
        "id": "40de89acacf31e50",
        "type": "mqtt in",
        "z": "f52d87b936e2a548",
        "name": "Feuchtigkeit",
        "topic": "garden/wetness",
        "qos": "2",
        "datatype": "auto",
        "broker": "61d47094ef776f19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 90,
        "y": 1580,
        "wires": [
            [
                "bcc6ac8bfb941d2f",
                "d585914cdf7800a6",
                "6cb7129eab48194e"
            ]
        ]
    },
    {
        "id": "c7acb41a119a1e21",
        "type": "mqtt in",
        "z": "f52d87b936e2a548",
        "name": "Licht",
        "topic": "garden/light",
        "qos": "2",
        "datatype": "auto",
        "broker": "61d47094ef776f19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 100,
        "y": 1720,
        "wires": [
            [
                "30765992e316b76e",
                "03fa507e935c73bc",
                "0cb856f1e4d03edb",
                "4503bf344366df78"
            ]
        ]
    },
    {
        "id": "30765992e316b76e",
        "type": "ui_gauge",
        "z": "f52d87b936e2a548",
        "name": "Licht",
        "group": "b95fc6db79257e61",
        "order": 6,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Helligkeit",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 350,
        "y": 1720,
        "wires": []
    },
    {
        "id": "7713c6c612f81700",
        "type": "ui_gauge",
        "z": "f52d87b936e2a548",
        "name": "Temperatur",
        "group": "b95fc6db79257e61",
        "order": 9,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatur",
        "label": "°C",
        "format": "{{value}}",
        "min": "-10",
        "max": "40",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 370,
        "y": 1820,
        "wires": []
    },
    {
        "id": "60941b92eec5ec72",
        "type": "mqtt in",
        "z": "f52d87b936e2a548",
        "name": "Temperatur",
        "topic": "garden/temperature",
        "qos": "2",
        "datatype": "auto",
        "broker": "61d47094ef776f19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 110,
        "y": 1820,
        "wires": [
            [
                "7713c6c612f81700",
                "55a8229a264c9a10",
                "46d33314fa0a55e4"
            ]
        ]
    },
    {
        "id": "55a8229a264c9a10",
        "type": "ui_chart",
        "z": "f52d87b936e2a548",
        "name": "Temperatur",
        "group": "1943c639731977b0",
        "order": 8,
        "width": "0",
        "height": "0",
        "label": "Zeit / Temperatur",
        "chartType": "line",
        "legend": "false",
        "xformat": "auto",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 380,
        "y": 1780,
        "wires": [
            []
        ]
    },
    {
        "id": "d585914cdf7800a6",
        "type": "ui_chart",
        "z": "f52d87b936e2a548",
        "name": "Feuchtigkeit",
        "group": "1943c639731977b0",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "Zeit / Feuchtigkeit",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 350,
        "y": 1540,
        "wires": [
            []
        ]
    },
    {
        "id": "7534e8e0733f03c3",
        "type": "ui_switch",
        "z": "f52d87b936e2a548",
        "name": "Automatische Bewässerung ",
        "label": "Automatische Bewässerung",
        "tooltip": "",
        "group": "9f47515f36178770",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 2220,
        "wires": [
            [
                "a5f06c82b9057d1a"
            ]
        ]
    },
    {
        "id": "a5f06c82b9057d1a",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "Manuelle Bewässerung",
        "topic": "garden/water/auto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 510,
        "y": 2220,
        "wires": []
    },
    {
        "id": "7f24ad4c6d79ff1c",
        "type": "ui_switch",
        "z": "f52d87b936e2a548",
        "name": "Automatische Ledsteuerung",
        "label": "Automatische Ledsteuerung",
        "tooltip": "",
        "group": "9f47515f36178770",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 140,
        "y": 2500,
        "wires": [
            [
                "dbc6a147e611d649"
            ]
        ]
    },
    {
        "id": "fa3363abfcba5cbf",
        "type": "ui_toast",
        "z": "f52d87b936e2a548",
        "position": "bottom left",
        "displayTime": "60",
        "highlight": "",
        "sendall": true,
        "outputs": 0,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "garden/water/feedback",
        "name": "Automatische Bewässerung läuft",
        "x": 500,
        "y": 2020,
        "wires": []
    },
    {
        "id": "6c8284a2ac049446",
        "type": "mqtt in",
        "z": "f52d87b936e2a548",
        "name": "Automatische Bewässerung",
        "topic": "garden/water/feedback",
        "qos": "2",
        "datatype": "auto",
        "broker": "61d47094ef776f19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 190,
        "y": 2020,
        "wires": [
            [
                "fa3363abfcba5cbf"
            ]
        ]
    },
    {
        "id": "049afd13b4f00426",
        "type": "ui_colour_picker",
        "z": "f52d87b936e2a548",
        "name": "",
        "label": "LED                              Farbsteuerung",
        "group": "9f47515f36178770",
        "format": "hex",
        "outformat": "string",
        "showSwatch": true,
        "showPicker": true,
        "showValue": true,
        "showHue": false,
        "showAlpha": false,
        "showLightness": true,
        "square": "false",
        "dynOutput": "false",
        "order": 2,
        "width": "6",
        "height": "3",
        "passthru": true,
        "topic": "garden/color",
        "topicType": "msg",
        "x": 130,
        "y": 2620,
        "wires": [
            [
                "2f9135c076078dda",
                "a040c4ee51ef0aae",
                "0d401246ecab2be7"
            ]
        ]
    },
    {
        "id": "01901ff296281e14",
        "type": "mqtt out",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "topic": "kueche/licht",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 510,
        "y": 280,
        "wires": []
    },
    {
        "id": "dbc6a147e611d649",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "garden/light/auto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 490,
        "y": 2500,
        "wires": []
    },
    {
        "id": "2f9135c076078dda",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "garden/light/manual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 490,
        "y": 2560,
        "wires": []
    },
    {
        "id": "a040c4ee51ef0aae",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 2660,
        "wires": []
    },
    {
        "id": "52255097e9b55f6b",
        "type": "mqtt out",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "topic": "schlafzimmer/licht",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 510,
        "y": 400,
        "wires": []
    },
    {
        "id": "16cef932ebfe03b0",
        "type": "mqtt out",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "topic": "flur/licht",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 510,
        "y": 600,
        "wires": []
    },
    {
        "id": "0d401246ecab2be7",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "test",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 860,
        "y": 2560,
        "wires": []
    },
    {
        "id": "74c69299df693175",
        "type": "inject",
        "z": "f52d87b936e2a548",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 560,
        "y": 2380,
        "wires": [
            [
                "0d401246ecab2be7",
                "747bd982df0b5ff8"
            ]
        ]
    },
    {
        "id": "f02eb466f141469c",
        "type": "mqtt in",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "test",
        "qos": "2",
        "datatype": "auto",
        "broker": "61d47094ef776f19",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 220,
        "y": 2740,
        "wires": [
            [
                "a040c4ee51ef0aae"
            ]
        ]
    },
    {
        "id": "747bd982df0b5ff8",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 2460,
        "wires": []
    },
    {
        "id": "3fb09603f9bc8d86",
        "type": "ui_switch",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "label": "Licht",
        "tooltip": "",
        "group": "94d7c8f6b367df1f",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 290,
        "y": 280,
        "wires": [
            [
                "01901ff296281e14"
            ]
        ]
    },
    {
        "id": "6c2551d4c4a079d0",
        "type": "ui_switch",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "label": "Licht",
        "tooltip": "",
        "group": "d1a07449dc0e3542",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 310,
        "y": 400,
        "wires": [
            [
                "52255097e9b55f6b"
            ]
        ]
    },
    {
        "id": "5dcb508a7df666d3",
        "type": "ui_switch",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "label": "Licht",
        "tooltip": "",
        "group": "4a0bc126749d9053",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 290,
        "y": 600,
        "wires": [
            [
                "16cef932ebfe03b0"
            ]
        ]
    },
    {
        "id": "6cb7129eab48194e",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "Feuchtigkeit",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 350,
        "y": 1620,
        "wires": []
    },
    {
        "id": "03fa507e935c73bc",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "Licht",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 1720,
        "wires": []
    },
    {
        "id": "46d33314fa0a55e4",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "Temperatur",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 370,
        "y": 1860,
        "wires": []
    },
    {
        "id": "b8cb22f4cbf16f9f",
        "type": "ui_button",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "group": "71bbeea70c77dc87",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Runter",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "up",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 860,
        "wires": [
            [
                "43d2a914d9d68992"
            ]
        ]
    },
    {
        "id": "ea7e2b8366fb5688",
        "type": "ui_button",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "group": "71bbeea70c77dc87",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Hoch",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "down",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 270,
        "y": 740,
        "wires": [
            [
                "43d2a914d9d68992"
            ]
        ]
    },
    {
        "id": "43d2a914d9d68992",
        "type": "mqtt out",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "topic": "rollladen",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 500,
        "y": 760,
        "wires": []
    },
    {
        "id": "c9dc1f2e32b98e44",
        "type": "ui_switch",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "label": "Licht",
        "tooltip": "",
        "group": "d71e0956189bee4c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 290,
        "y": 60,
        "wires": [
            [
                "7df0784111bbd826"
            ]
        ]
    },
    {
        "id": "7df0784111bbd826",
        "type": "mqtt out",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "topic": "licht/gesamt",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 520,
        "y": 60,
        "wires": []
    },
    {
        "id": "19dd6f492f51af7c",
        "type": "ui_switch",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "label": "Partymodus",
        "tooltip": "",
        "group": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 310,
        "y": 180,
        "wires": [
            [
                "197628f161aa4bd4"
            ]
        ]
    },
    {
        "id": "197628f161aa4bd4",
        "type": "mqtt out",
        "z": "ad64e9d08c5c140e",
        "name": "",
        "topic": "party/licht",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 530,
        "y": 180,
        "wires": []
    },
    {
        "id": "3befa48d862e1318",
        "type": "ui_slider",
        "z": "f52d87b936e2a548",
        "name": "Konzentration von Dünger(0-50)",
        "label": "",
        "tooltip": "",
        "group": "9f47515f36178770",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "50",
        "step": 1,
        "x": 1110,
        "y": 1500,
        "wires": [
            [
                "84f66bf745319e19",
                "e2adb088643c0d57"
            ]
        ]
    },
    {
        "id": "f1d6dbe613abf740",
        "type": "ui_button",
        "z": "f52d87b936e2a548",
        "name": "Bewässern",
        "group": "9f47515f36178770",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Bewässern",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1070,
        "y": 1280,
        "wires": [
            [
                "1dd5430e944986eb"
            ]
        ]
    },
    {
        "id": "84f66bf745319e19",
        "type": "ui_text",
        "z": "f52d87b936e2a548",
        "group": "9f47515f36178770",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Düngerkonzentration in % :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1490,
        "y": 1520,
        "wires": []
    },
    {
        "id": "87261ccad155cf28",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "garden/servo/manual",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 1420,
        "y": 1860,
        "wires": []
    },
    {
        "id": "e2adb088643c0d57",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "garden/water/concentration",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 1550,
        "y": 1440,
        "wires": []
    },
    {
        "id": "1dd5430e944986eb",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "garden/water/go",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 1510,
        "y": 1320,
        "wires": []
    },
    {
        "id": "7329a913204557d2",
        "type": "ui_text",
        "z": "f52d87b936e2a548",
        "group": "9f47515f36178770",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Bewässerungszeit in s :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1450,
        "y": 1140,
        "wires": []
    },
    {
        "id": "7a07fafdf42a5c74",
        "type": "mqtt out",
        "z": "f52d87b936e2a548",
        "name": "",
        "topic": "garden/water/time",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "61d47094ef776f19",
        "x": 1440,
        "y": 1060,
        "wires": []
    },
    {
        "id": "e5e76ddd13b4e50b",
        "type": "ui_text",
        "z": "f52d87b936e2a548",
        "group": "69fadc5f38f9845c",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fenster offen :",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1500,
        "y": 1720,
        "wires": []
    },
    {
        "id": "891040bcdac82253",
        "type": "ui_switch",
        "z": "f52d87b936e2a548",
        "name": "",
        "label": "Fenster",
        "tooltip": "",
        "group": "69fadc5f38f9845c",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 1160,
        "y": 1740,
        "wires": [
            [
                "e5e76ddd13b4e50b",
                "87261ccad155cf28",
                "adeec305b742857e"
            ]
        ]
    },
    {
        "id": "0cb856f1e4d03edb",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 1620,
        "wires": []
    },
    {
        "id": "4503bf344366df78",
        "type": "ui_chart",
        "z": "f52d87b936e2a548",
        "name": "",
        "group": "1943c639731977b0",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Licht",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 610,
        "y": 1680,
        "wires": [
            []
        ]
    },
    {
        "id": "adeec305b742857e",
        "type": "debug",
        "z": "f52d87b936e2a548",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 1800,
        "wires": []
    },
    {
        "id": "3a4d6533a25e73b2",
        "type": "ui_slider",
        "z": "f52d87b936e2a548",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "9f47515f36178770",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": 0,
        "max": "20",
        "step": 1,
        "x": 1120,
        "y": 1100,
        "wires": [
            [
                "7a07fafdf42a5c74",
                "7329a913204557d2"
            ]
        ]
    }
]